* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcf7b1;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #1b2e4a;
}
p {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    margin-top: 10px;
}

p:first-child {
    margin-top: 40px;
    
}